on init
    # Vibrator
    chown system system /sys/class/leds/vibrator/effect
    chown system system /sys/class/leds/vibrator/enable
    chown system system /sys/class/leds/vibrator/gain
    chmod 0666 /sys/class/leds/vibrator/effect
    chmod 0666 /sys/class/leds/vibrator/enable
    chmod 0666 /sys/class/leds/vibrator/gain

    # Charger
    chown system system /sys/class/power_supply/battery/charging_enabled
    chmod 0666 /sys/class/power_supply/battery/charging_enabled

on post-fs-data
    # SRS
    chown system system /sys/srs/srs_enable
    chown system system /sys/srs/srs_debug
    chown system system /sys/srs/srs_cpulevel
    chown system system /sys/srs/srs_gpulevel
    chown system system /sys/srs/srs_buslevel
    chown system system /sys/srs/srs_iolevel
    chown system system /sys/srs/srs_memlevel
    chmod 0664 /sys/srs/srs_enable
    chmod 0664 /sys/srs/srs_debug
    chmod 0664 /sys/srs/srs_cpulevel
    chmod 0664 /sys/srs/srs_gpulevel
    chmod 0664 /sys/srs/srs_buslevel
    chmod 0664 /sys/srs/srs_iolevel
    chmod 0664 /sys/srs/srs_memlevel

    # Cirrus calibration
    chown system audio /dev/msm_cirrus_playback
    chmod 0660 /dev/msm_cirrus_playback

    # Start FOD HAL
    setprop sys.meizu.fingerprint.boot start

on boot
    # HBM
    chown system system /sys/class/meizu/lcm/display/hbm
    chmod 0644 /sys/class/meizu/lcm/display/hbm

    # Wi-Fi firmware
    chown wifi wifi /sys/module/wlan/parameters/fwpath
